In [2]:
import math
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import csv
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

Préparation et chargement des données, describe du X_train

In [3]:
X_train_path = '../data/X_train_78VdSWL.csv'
Y_train_path = '../data/y_train_u0UkKEh.csv'
X_test_path = '../data/X_test_XKVc4no.csv'
Y_test_path =  '../data/new_output_sample.csv'

X_train = pd.read_csv(X_train_path)
X_test = pd.read_csv(X_test_path)
y_train = pd.read_csv(Y_train_path)
X_train.describe(include='all')

,Horodate,5423908671,2568793410,8310762594,6235194807,423895617,193845276,216589743,218753964,1794650328,...,holed_991,holed_992,holed_993,holed_994,holed_995,holed_996,holed_997,holed_998,holed_999,holed_1000
count,1057,1057.000000,1057.000000,1057.000000,1057.000000,1057.000000,1057.000000,1057.000000,1057.000000,1057.000000,...,913.0,963.000000,928.000000,933.000000,918.0,945.000000,986.000000,929.000000,968.000000,838.000000
unique,1057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2023-01-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,567.010407,4.575213,814.052034,375.370861,1202.364238,187.719016,554.808893,18.550615,265.464522,...,0.0,23.493250,40.172414,587.293676,0.0,1096.756614,187.293103,64.487621,114.547521,295.560859
std,NaN,225.700515,117.691471,485.858805,343.137069,345.274938,80.496774,278.262533,33.216826,228.233634,...,0.0,8.952096,50.883271,427.655623,0.0,436.254909,134.089130,37.826397,125.393007,101.077649
min,NaN,143.000000,0.000000,23.000000,13.000000,201.000000,40.000000,0.000000,0.000000,60.000000,...,0.0,9.000000,1.000000,10.000000,0.0,341.000000,46.000000,14.000000,9.000000,66.000000
25%,NaN,450.000000,0.000000,465.000000,83.000000,980.000000,126.000000,333.000000,0.000000,116.000000,...,0.0,18.000000,16.000000,162.000000,0.0,650.000000,106.000000,41.000000,26.000000,222.250000
50%,NaN,526.000000,0.000000,802.000000,173.000000,1209.000000,177.000000,505.000000,2.000000,163.000000,...,0.0,21.000000,24.000000,530.000000,0.0,1157.000000,130.000000,54.000000,42.000000,283.000000
75%,NaN,589.000000,0.000000,1111.000000,672.000000,1425.000000,234.000000,714.000000,37.000000,335.000000,...,0.0,25.000000,41.000000,948.000000,0.0,1398.000000,216.000000,71.000000,195.250000,347.000000
max,NaN,1766.000000,3785.000000,2213.000000,1195.000000,2390.000000,499.000000,1693.000000,776.000000,1545.000000,...,0.0,114.000000,410.000000,2134.000000,0.0,2462.000000,854.000000,252.000000,703.000000,727.000000

X_train head

In [4]:
X_train.head()

,Horodate,5423908671,2568793410,8310762594,6235194807,423895617,193845276,216589743,218753964,1794650328,...,holed_991,holed_992,holed_993,holed_994,holed_995,holed_996,holed_997,holed_998,holed_999,holed_1000
0,2023-01-09 00:00:00,352.0,0.0,371.0,110.0,724.0,102.0,256.0,7.0,105.0,...,0.0,32.0,152.0,NaN,0.0,1099.0,117.0,45.0,253.0,186.0
1,2023-01-09 00:30:00,405.0,0.0,363.0,108.0,478.0,147.0,281.0,8.0,134.0,...,0.0,34.0,84.0,NaN,NaN,782.0,109.0,40.0,227.0,180.0
2,2023-01-09 01:00:00,599.0,0.0,352.0,93.0,832.0,155.0,295.0,5.0,96.0,...,0.0,30.0,24.0,NaN,0.0,630.0,375.0,58.0,237.0,166.0
3,2023-01-09 01:30:00,315.0,0.0,348.0,84.0,574.0,152.0,267.0,15.0,156.0,...,0.0,34.0,24.0,NaN,0.0,773.0,468.0,48.0,245.0,525.0
4,2023-01-09 02:00:00,448.0,0.0,364.0,73.0,421.0,176.0,346.0,38.0,97.0,...,0.0,30.0,46.0,NaN,0.0,879.0,534.0,41.0,175.0,372.0

In [5]:
y_train.head()

,Horodate,holed_1,holed_2,holed_3,holed_4,holed_5,holed_6,holed_7,holed_8,holed_9,...,holed_991,holed_992,holed_993,holed_994,holed_995,holed_996,holed_997,holed_998,holed_999,holed_1000
0,2023-01-09 00:00:00,578.0,698.0,17.0,2.0,283.0,154.0,131.0,619.0,107.0,...,0.0,32.0,152.0,121.0,0.0,1099.0,117.0,45.0,253.0,186.0
1,2023-01-09 00:30:00,533.0,224.0,18.0,2.0,1047.0,150.0,106.0,542.0,114.0,...,0.0,34.0,84.0,107.0,0.0,782.0,109.0,40.0,227.0,180.0
2,2023-01-09 01:00:00,623.0,246.0,17.0,5.0,1185.0,131.0,74.0,517.0,109.0,...,0.0,30.0,24.0,128.0,0.0,630.0,375.0,58.0,237.0,166.0
3,2023-01-09 01:30:00,613.0,643.0,17.0,18.0,746.0,77.0,146.0,455.0,113.0,...,0.0,34.0,24.0,200.0,0.0,773.0,468.0,48.0,245.0,525.0
4,2023-01-09 02:00:00,1823.0,318.0,18.0,15.0,560.0,125.0,82.0,551.0,104.0,...,0.0,30.0,46.0,792.0,0.0,879.0,534.0,41.0,175.0,372.0

In [6]:
X_test.head()

,Horodate,123476859,123596487,123798654,123875946,123879645,123897645,123947865,124367958,124568973,...,holed_991,holed_992,holed_993,holed_994,holed_995,holed_996,holed_997,holed_998,holed_999,holed_1000
0,2023-01-09 00:00:00,102.0,992.0,365.0,252.0,71.0,132.0,30.0,201.0,121.0,...,38.0,168.0,32.0,NaN,445.0,NaN,NaN,767.0,2029.0,129.0
1,2023-01-09 00:30:00,89.0,996.0,351.0,219.0,47.0,140.0,31.0,173.0,186.0,...,27.0,82.0,48.0,NaN,492.0,207.0,NaN,773.0,1698.0,113.0
2,2023-01-09 01:00:00,134.0,841.0,314.0,213.0,55.0,114.0,38.0,204.0,251.0,...,37.0,102.0,44.0,NaN,461.0,218.0,NaN,613.0,1737.0,NaN
3,2023-01-09 01:30:00,130.0,961.0,228.0,253.0,35.0,103.0,35.0,176.0,305.0,...,13.0,78.0,33.0,NaN,491.0,104.0,NaN,691.0,994.0,135.0
4,2023-01-09 02:00:00,135.0,949.0,213.0,243.0,47.0,472.0,21.0,187.0,283.0,...,62.0,107.0,36.0,NaN,451.0,97.0,NaN,844.0,1044.0,NaN

On va extraire les colonnes holed_, c'est à dire celles avec des trous

In [7]:
no_holes = [col for col in X_train.columns if not col.startswith('holed_')]
holed = [col for col in X_train.columns if col.startswith('holed_')]
holed1=holed[1:]
cols_to_drop = [c for c in X_train.columns 
                if c.startswith("holed_") and c != "holed_1"]

X_train = X_train.drop(columns=cols_to_drop)
X_test  = X_test.drop(columns=cols_to_drop)

Pour commencer, on a besoin de gérer la variable quantitative de l'Horodate, grâce à panda, on peut aisément la siviser en années, mois, jours, heure et jour de la semaine, qui peuvent être des données utile pouir la régression.

Ensuite, on va combler les NaN avec les moyenne des colonnes, pour ne pas perdre les datas des autres colonnes et éviter d'impacter la moyenne.

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

X_train_nodate = X_train.copy()
X_test_nodate = X_test.copy()
y_train_nodate = y_train.copy()

X_train_nodate['Horodate'] = pd.to_datetime(X_train_nodate['Horodate'])
X_test_nodate['Horodate'] = pd.to_datetime(X_test_nodate['Horodate'])
y_train_nodate['Horodate'] = pd.to_datetime(y_train_nodate['Horodate'])


for df in [X_train_nodate, X_test_nodate, y_train_nodate]:
    df['year'] = df['Horodate'].dt.year
    df['month'] = df['Horodate'].dt.month
    df['day'] = df['Horodate'].dt.day
    df['hour'] = df['Horodate'].dt.hour
    df['weekday'] = df['Horodate'].dt.weekday



X_train_nodate = X_train_nodate.drop(columns=['Horodate'])
X_test_nodate = X_test_nodate.drop(columns=['Horodate'])
y_train_nodate = y_train_nodate.drop(columns=['Horodate'])


X_train_filled = X_train_nodate.copy()
X_test_filled = X_test_nodate.copy()

X_train_filled = X_train_nodate.fillna(X_train_nodate.mean())
X_test_filled  = X_test_nodate.fillna(X_test_nodate.mean())

In [9]:
""" scaler = StandardScaler()
X_train_scaled = pd.DataFrame(
    scaler.fit_transform(X_train_filled), 
    columns=X_train_filled.columns, 
    index=X_train_filled.index)

X_test_scaled = pd.DataFrame(
    scaler.transform(X_test_filled),
    columns=X_test_filled.columns,
    index=X_test_filled.index) """


X_test_filled.head()

,123476859,123596487,123798654,123875946,123879645,123897645,123947865,124367958,124568973,124589367,...,9876431520,9876520413,9876541032,9876542310,holed_1,year,month,day,hour,weekday
0,102.0,992.0,365.0,252.0,71.0,132.0,30.0,201.0,121.0,55.0,...,446.0,46.0,361.0,172.0,1061.000000,2023,1,9,0,0
1,89.0,996.0,351.0,219.0,47.0,140.0,31.0,173.0,186.0,82.0,...,683.0,42.0,293.0,28.0,1041.000000,2023,1,9,0,0
2,134.0,841.0,314.0,213.0,55.0,114.0,38.0,204.0,251.0,86.0,...,678.0,35.0,301.0,599.0,995.000000,2023,1,9,1,0
3,130.0,961.0,228.0,253.0,35.0,103.0,35.0,176.0,305.0,44.0,...,567.0,29.0,325.0,211.0,998.000000,2023,1,9,1,0
4,135.0,949.0,213.0,243.0,47.0,472.0,21.0,187.0,283.0,75.0,...,1184.0,28.0,348.0,3303.0,1426.318413,2023,1,9,2,0

In [24]:
models = {}
pred_list = []

col = 'holed_2'

mask = ~y_train_nodate[col].isna()
X = X_train_filled.loc[mask, :]
y = y_train_nodate.loc[mask, col]

X_train_split, X_val_split, y_train_split, y_val_split = train_test_split(
    X, y, test_size=0.2, random_state=42
)

print("Taille train :", X_train_split.shape)
print("Taille validation :", X_val_split.shape)

model = LinearRegression()
model.fit(X_train_split, y_train_split)
models[col] = model

y_pred = pd.DataFrame(model.predict(X_val_split),
                      columns=[col],
                      index=X_val_split.index)

Taille train : (845, 20006)
Taille validation : (212, 20006)

On applique le modele sur X_test

In [11]:
y_pred.to_csv('new_output_sample.csv', index=False)

In [25]:
print(max(model.coef_))
coefs = model.coef_.ravel()
idx_max = np.argmax(coefs)
print(idx_max)

mae = mean_absolute_error(y_val_split, y_pred)
r2 = r2_score(y_val_split, y_pred)
print(f"MAE : {mae:.4f} ; R² : {r2:.4f}")

0.02935025765378498
19722
MAE : 201.6821 ; R² : 0.2622

In [13]:
#corr_matrix = X_train_filled.corr()

On observe que la regression linéaire semble inefficace, on veut faire la matrice de corrélation

In [14]:
#corr_matrix = X_train_filled.corr()
#print(corr_matrix)
#corr_matrix.to_csv('corr_matrix.csv')